<div class="blog-list">
    <div class="BL" appOhover><h2>Blog List</h2></div>
    <div *ngFor="let item of blogs" appHover>
      <h3>{{ item.title | custompipe }}</h3>
      <p>Auther: {{ item.auther }}</p>
      <p>Date: {{ item.date }}</p>
      <p>{{ item.content }}</p>
      <hr>
    </div>
</div>
  
<!-- <ul>
    <li *ngFor="let item of blogs | search: searchTerm">{{ item.title }}</li>
  </ul> -->















<!-- <div class="vlog-list">

    <div *ngFor="let vlog of vlogData" class="vlog-card">

        <h3>{{ vlog.title }}</h3>

        <p>{{ vlog.date }}</p>
        <a [routerLink]="['/Blog/', vlog.id]">View Details</a>

    </div>

</div>
 -->











<!-- <div class="vlog-list">

    <div *ngFor="let vlog of vlogData" class="vlog-card">

        <h3>{{ vlogData.title }}</h3>

        <p>{{ vlogData.date }}</p>
        <a [routerLink]="['/Blog/', vlog.id]">View Details</a>

    </div>

</div> -->